body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

h1 {
  margin: 20px;
}

#gameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card a {
  text-decoration: none;
  color: white;
}
